<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catalog.mapper.FieldOriginMapper">
    <select id="selectFieldOrigin" resultType="com.catalog.dto.FieldOrigin">
        SELECT
        id,
        table_id tableId,
        field field,
        fieldtype fieldtype,
        field_length fieldLength,
        field_demo fieldDemo,
        business_term businessTerm
        FROM field_origin
        where 1=1
        <if test="field!=null and field!=''">
            and field like CONCAT ('%',#{field},'%')
        </if>
    </select>
</mapper>